In [24]:
a=1
b=2
temp=a
a=99
b=temp
print(b)

1

In [ ]:
#conditional expression
x if condition else y
condition is evaluated first if condition is true 
x is evaluated and value is returned
if the condition is false y is evaluted and value is returned

In [54]:
#check the given conditon  is even or not
#a=int(input("enter the no:"))
#if a % 2 == 0:
 # print("{0} is even".format(a) ) #{0} is format holder swaps place with index 0 here with a and index zero 
#else :
 #   print("{0}is odd".format(a))
    
# a==b is equals
#a!=b is not equals to 
#a<b a is lesser than b
#a<=b a is lesser than and equals to b
#a>b
#a>b a is greater than and equales to b
 
#conditon in python they relies on whitespaces  other relie on curly brackets
#example for no spaces
#a=5
#b=6
#if a>b:
#print("a is smaller than b") #no spaces given so raises error 
 #elif is else if
#if previous condition is not true then try this condition 
#a=45
#b=45
#if a<b:
#    print("a is less than b")
#elif a==b:
#    print("a equals to b")
#else statement catches anything which isnt caught in previous condition
#a=67
#b=87
#if a>b:
#    print("a is greater than b")
#elif a==b:
#    print("a is equals to b")
#else :
#    print("a is less than b")
 # AND keyword is used to join conditional statement is logical operator
#a=200
#b=50
#c=300
#if a>b and c>a:
#   print("condition is true")
#else:
#    print("condition is false")
    
# OR keyword also used to combine conditional statements
#a=70
#b=60
#c=100
#if a>b or a>c:
#    print ("one of them is greater")
#else:
#    print("a is smaller")
 
# NESTEDIF if statement inside an if statement 
a=20
b=20
if a>b:
    print("a is greater than b")
if a<b:
    print("a is smaller than b")
else:
            print("a is equals to b")
 #PASS  statement- if statement cannot be empty if IF is empty use PASS to escape the error
a=56
b=87
if a>b:
    pass

a is equals to b

In [51]:
print(b)

20

In [22]:
a=76
b=85
if a > b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [9]:
c=3
d=3
if c > d:
    print("c is greater than d")
elif c == d:
    print("c is equal to d")
else:
    print("c is less than d")

c is equal to d

In [15]:
h=8
g=9
if h > g:
    print("h is greater than g")
else:
    if h < g:
            print("h is less than g")

h is less than g

In [20]:
h=109
k=839
if h > k:
    print("h is greater than k")
else:
        if h < k:
            print("h is less than k")
        else:
            if h == k:
                print("h is to eqaul to k")

h is less than k

In [37]:
name = "sitr"
weight_kg = 10
height_m = 2

bmi = weight_kg / (height_m ** 2)
print(bmi)
print("bmi is:",bmi)
if bmi > 50:
    print(name)
    print("weight is over weight")
else:
    print(name)
    print("weight is fine")

2.5
bmi is: 2.5
sitr
weight is fine

In [43]:
tyre = "apollo" #example
force_N = 852
area_m = 50

pressure = (force_N/area_m)
print("pressure is:")
print(pressure)
if pressure > 10:
    print("pressure is high")
else:
    if pressure < 10:
        print("pressure is low")

pressure is:
17.04
pressure is high

In [10]:
my_name = "shridhar" #works on pyhton 2 not3
my_color = "black"
my_height = 6
print"lets talk about %s." % my_name
print"he is %s." % my_color
print"he is %d" % my_height

SyntaxError: invalid syntax (<ipython-input-10-08ce1d32e5e2>, line 4)

In [13]:
# lists in python
a = [5,7,-8,"hello",7.8,]
print (a)

[5, 7, -8, 'hello', 7.8]

In [2]:
a=[78,6,3,"hello pop","y",True]#index can be done 
#a[0]
#a[89] #error
#a[0:3]
#create a list 
this_list=["aam","bannana","aam"] #ordered ,changeble ,duplicates exsist in lists
print(len(this_list)) #length can found using len()
print (type(a))

3
<class 'list'>

In [11]:
l1=["aa","bb","cc","dd","ee","ff","gg"]
l2=[1,2,3]     #lists can contain any datatype
l3=[True,False]# boolean type first letter is capital
a=list(("apple","cherry","banana")) #creating a list in list using list() constructor
print(a)
print(a[2]) #accessing the item of the list
l1[2:5] #range in index  starts with 2 included and ends at 5 and 5 is not included
l1[-4:-1] #negative index

['apple', 'cherry', 'banana']
banana

[]

In [5]:
l1=["aa","bb","cc","dd","ee","ff","gg"]
#if "aa" in l1: #checking specified item is present in the list using if and in keyword
   # print("Yes,'aa' is present") 
#l1=[]="BB" # changing values inside a list 
#print (l1)
#l1.insert(1,"hh") inserting a new item without removing any item or replacing 
#print(l1)
#l1.append("bb")  #adding a new string or item to list
#print(l1)
#l1.remove("bb")  #removind string from list
#print(l1)

['aa', 'cc', 'dd', 'ee', 'ff', 'gg']

In [27]:
#atuple=("cherry","apple","nimbo") tuple are ordered unchangeble and allows duplicates
#print (atuple)
#worktuple=("chery",) #comma is mandatory if we dont use comma its tpe is string
#print (worktuple)
btuple=tuple(("cherry","banana","apple")) #constructing a tuple with tuple()
print (btuple)
#print (btuple[1]) # accessing a tuple bt index
#print (btuple[-1]) #negative indexing
#print (btuple[0:2]) # range search will start from 0 (included) and end at  two (not included)
print(btuple[-3:-1]) #same end is not included 
btuple.count("cherry")

('cherry', 'banana', 'apple')
('cherry', 'banana')

1

In [43]:
#a1=input("enter no one fruit:") # program to store a set of fruits given by user in list
#a2=input("enter the 2 fruit:")
#myfruits=[a1,a2]   
#print(myfruits)
#b1=int(input("enter the mark of one :")) #mind the int type declaring for integer 
#b2=int(input("enter the mark of 2:"))
#marks=[b1,b2]
#marks.sort()
#print(marks)
#a=("2","3","4")
#a[0]=45
a=[2,3,4,3]
print (a[0]+a[1]+a[2]+a[3]) #step 1 
print(sum(a)) #step2 both can be used to find th sum
#creating a tuple using()
c=(2,3,4,54,56)
print(c.count(4))

12
12
1

In [38]:
a.extend(a)

In [19]:
print(a)

[5, 7, -8, 5, 7, -8]

In [20]:
a.reverse()

In [21]:
print(a)

[-8, 7, 5, -8, 7, 5]

In [22]:
a.sort()

In [23]:
print(a)

[-8, -8, 5, 5, 7, 7]

In [35]:
a.index(5) #Return the index in the list of the first item whose value is x. It is an error if there is no such item

2

In [34]:
a.count(5) #Return the number of times x appears in the list specify x

2

In [26]:
print(a)

[-8, -8, 5, 5, 7, 7]

In [82]:
#dictionery uses odered ,changeble ,does not allow duplicates and stores data values of key : value pairs
mydict={"brand":"shelby","model":"mustang","iam":False, "year":99}
#print(mydict) #dictionary contains all the datatype
#len(mydict) #length of dictionary
#type(mydict)
x=mydict["model"] # accessing the item 
print(x)

mustang

In [124]:
#mydict.clear()
#print(mydict) #clears everything from dictionery
mydic={"brand":"shelby","model":"mustang","iam":False, "year":99}
mydic2={1:"apple",2:"cherry"}
#x=mydic.copy() #returns copy of the dictionary
#print(x)
#x=mydic.get("brand") #returns the value of specified key
#print(x)
#y=mydic.items() #returns the list in a tuple for each key value pair
#print(y)
#z=mydic.keys() #returns a list contaning keys or headname of dictionary
#print(z)
#print(mydic.pop("model"))#removes element with specified key
#print(mydic)
#print(mydic.setdefault("brand")) #returns value of specified key
#mydic.update(mydic2) #using update a new items can be added and list can also be added 
#mydic2.update(x=1,y=2,z=3)
#print(mydic2)
#print(mydic)
mydic.values() #returns the value of the dictionary

dict_values(['shelby', 'mustang', False, 99])

In [14]:
#python sets are unodered and unindexed set of values used to store one datatype variable  in flower brackets
prthonset={"apple","cherry","banana"}
print(prthonset) #note set is unodered so item will remain in random order
#set do allow duplicates once set is created items cannot be changed but a new items can be added
#pythonset={"lise","baby","baby"} #duplicates are ignored 
#print(pythonset)
set={"mama","lala",True,2,False,3}
print(set)

{'banana', 'apple', 'cherry'}
{False, True, 2, 3, 'lala', 'mama'}

In [1]:
#setmethods
set={"add","minus","divide","percent"}
setq={"cherry","mango","add"}
#set.add("substract") #adds element to set
#print(set)
#set.clear() #clears all items from set
#print(set)
#x=set.copy() #returns a copy of a set
#print (x)
#z=set.difference(setq) #returns a set with difference btw 2 or more sets and returns of only one set
#print(z)
#k=set.difference_update(setq) #removes items exists in both set or difference is removed unlike difference method()
#print(set)
#set.discard("divide") #remove the specified item
#print(set)
#x=set.isdisjoint(setq) #returns true or false.true if none of both set items are same and false if one or more items are same in set
#print(x)
a={"a","b","c"}
b={"b","f","a","c","e"}
c={"b","g","k"}
z=a.issubset(b) #returns true if all the element in a are present in b 
print(z) # returns true if all the items are present in specified set
#returns false if all the items are not present in specified set
y=a.intersection(b,c) #returns a set that contains similarity btw two or more set  
print(y) #syntax set.intersection(set1,set2,,,,,etc)can be compared as many as you want seperated by comma 
k=c.issuperset(b) #returns true or false , true if specified set items are present in original set and false if not
print(k)
print(c.pop()) #removes random item from set
print (c)
print(c.remove("g")) #removes specified item from sting different from discard because remove raises error if specified item is not in the set and discard doesnot
print(c)
m=a.symmetric_difference(b) #returns all the items which is not present in both set and doesnot return which are present in both set
print(m)
a.symmetric_difference_update(b)#returns all items from both set which are not similar and similar items are deleted
print(a)

True
{'b'}
False
b
{'k', 'g'}
None
{'k'}
{'e', 'f'}
{'e', 'f'}

In [3]:
a={"a","b","c"}
b={"b","f","a","c","e"}
c={"b","g","k"}
#a.symmetric_difference_update(b) #removes items that present in both set and returns rest of the items 
#print(a)
#x=a.union(b,c) #returns items present in all sets and duplictes will be only returned once can be used in other iterbles too
#print(x)
a.update(b,c) #inserting items from a to b,c and duplicates is returned only once 
print(a)

{'a', 'f', 'b', 'k', 'c', 'e', 'g'}

In [42]:
#examples 
#dict={"brand":"tvs","name":"apache","model":"v2"}
#print("attributes are",dict.keys())
#a=input("enter name")
#print("name is :",dict.get(a))
 #example2 
#a=int(input("enter a number :"))
#b=int(input("enter a number 2:"))
#c=int(input("enter a third number:"))
#d=int(input("enter forth no:"))
#e=int(input("enter fifth no:"))
#s={a,b,c,d,e}
#print(s)
#examples3 ptinting a integer and a string
#s={3,"32",3.4}
#print(s)
#example to find length of set s
s=set
s.add(1)
s.add("34")
s.add(5.6)
print(s)

SyntaxError: invalid syntax (<ipython-input-42-04218e9efddb>, line 18)

In [37]:
b[0]=3
b[1]=4
temp=b[0]#swaping places
b[0]=b[1]
b[1]=temp
print (b[1])

TypeError: 'int' object does not support item assignment

#### print(b)

In [27]:
b[1],b[2]=b[2],b[1] #swaping places

TypeError: 'int' object is not subscriptable

In [28]:
print(b)

5

In [50]:
range(10)

range(0, 10)

In [51]:
a = ['apple','banana','cat']

In [52]:
len(a)

3

In [54]:
range(10)

range(0, 10)

In [58]:
a.count('apple')

1

In [32]:
print("iam stupid")
print("iam as fine as %s")
print("c"),*10
bed1="c"
bed2="h"
bed3="e"
bed4="s"
bed5="s"
print (bed1,bed2,bed3,bed4,bed5 ) #defines the value

iam stupid
iam as fine as %s
c

TypeError: 'int' object is not iterable

In [27]:
len(a)

NameError: name 'a' is not defined

In [18]:
base = "%r %r %r %r"
print base %(1,2,3,4)
print base %("ba","da","na","ka")
print (base,base,base,base)

SyntaxError: invalid syntax (<ipython-input-18-1080fb4841d8>, line 2)

In [72]:
days="mon,tue,wed"
year=("jan\nfeb\nmarch")
print("here r the day:"),days
print("here r the year:"),year

SyntaxError: invalid syntax (<ipython-input-72-5b48920124db>, line 4)

In [55]:
a="hello"
b="lovely"
print(a[0:5]+b[len(b)-6:])
len(b)

hellolovely

6

In [37]:
len("data") #eturns length of the string

4

In [47]:
string=("data")
string.endswith("a")

True

In [80]:
b="code's"
print(b)
print(type(b))
c='codes"s'
print(c)

code's
<class 'str'>
codes"s

In [4]:
a="adda is a bitch"
x="\u0033" #isdecimal
y="56774" #isdigit
#string.count("a")
#a.capitalize()
#a.find("d") #finds the index of the string
#a.replace("adda","ossa")
#a.expandtabs(5) # number of whitespaces given of example |t we number it
#print(a)
#a.index("i") #almost same as find returns -1 if not found
#b="adda is for {price:.2f} rupees!"# .2f is two decimal points for fixed
#print(b.format(price=300)) #flower brackets are for palceholders format is formating sting
#a.format_map() same as format
#print(a.isalnum()) # checks statement is alphabets and numbers and returns true or false
#print(a.isalpha()) # checks all text are alphabets
#print(a.isascii()) # checks for ascii american standard code for information interchange contains 128 types which includes a-z digits and some special signs
#print(x.isdecimal()) # for unicode in decimal \u0037 
#print (y.isdigit())

True

In [19]:
#a="my name is stale"
#c=("cameron","is","a","bitch") #joining the tuple
#a.encode() #uses normaly UTF-8 encoding search more about it
#print(a)
#b="Rakka"
#print (b.isidentifier()) # identifier is a-z oe 0-9 and underscores_ only it cannot start with digits and nowhitespaces
#print (a.islower()) #checks for lower case aka small letters
#print (a.isupper()) # for upper case or capital
#print ("%".join(c)) #uses a seperator to join string
#myseparator="nat"
#print(myseparator.join(c)) # another join() example for separtor 
#x=b.ljust(20,"o") #syntax is b.ljust(length,"character") ladjust is justifying to left
#print (x,"is my lad")
#print(b.lower()) # converts string to lower case

rakka

In [90]:
#a="   rama   "
#x=a.lstrip() #removes left whitespaces syntax a.lstrip("character")
#print("he is good",x,"man")
#b="natcha Sello"
#x=b.maketrans("H","K")  #maketrans(x,y,z) is mapping table 
#print(b.translate(x)) #translate() returns or translates
#mydict = {83: 80}
#print(b.translate(mydict)) #mapping can be maketrans() or the my dictionary which uses ascii
#a="goodnight zeb"
#x="ebz"
#y="aln"
#z="odnht"
#k=a.maketrans(x,y,z)
#print(a.translate(k))
#a="aiam good "
#a.partition("iam") #syntax a.partition("string") to search returns 3 form element before searched  item ,searched iten , and part after that string
# returns for wrong search, normal valued string nxt two will be empty with colons
#a="iam hot super,hot"
#a.rfind("hot") #syntac a.rfind("string",start,end)same as rindex method used to find last positions or occured os string
#a.rindex("hot")
#a.rpartition("hot")
a=("rama bama shama")
#a.split() # splts string set by comma
#a.rsplit(# ,-1 which is default) syntax a.rsplit(seperator,numbers of sting to split) starts from right and splits with comma
#x=a.startswith("ba",5,10) # a.startswith("string",start,end) returns searched string is true or false
#x

natcha Pello

In [94]:
#a=("raMa, bAma shAma")
#x=a.strip(",a") #removes spaces at begining and end ,and character can be removed from a string
#print("it is my ", x," is my favurite")
#print(a.swapcase()) # swaps the lower case to upper case and viceversa
#b="%raone is 2boom b2m"
#print(b.title()) # returns the 1st character to upper case as integer is ignored
#a.upper() # returns everything in the string upper case symbol and integer is ignored
x="10"
y="welcome to my world"
z= "0.23"
print(x.zfill(10)) # n.zfill(len) fill given length with zeros to make up to given length ,if the length of the given string is already full is ignores returns given string as before 
print(y.zfill(10))
print(z.zfill(10))

0000000010
welcome to my world
0000000.23

In [30]:
a="iam a super from india"
x=a.index("r",3,11)# whitespaces are counted as index syntax a.indes("search",start,end)
print(x)

10

In [1]:
b="'codes're des'"
print(b)

'codes're des'

In [1]:
name=input("enter your name=")
print("good evening," +name)

enter your name=hello
good evening,hello

In [ ]:
letter ="'dear <|NAME|>,hey there you are selected to financial group of our collge on <|DATE|>"
name=input("enter name=")
date=input("date:")
letter=letter.replace("|NAME|",name)
letter=letter.replace("|DATE|",date)
print(letter)

In [ ]:
string="helo  iam  very  good"
doublespaces=string.find("")
print(doublespaces)

In [ ]:
#examples for foramt
letter="hello people there how is your day "
print(letter)
formatted_letter="hello people \n there \t how is your day"
print(formatted_letter)

In [9]:
a="hello word"
a.replace(" "," ")
print(a)

hello word

In [6]:
a="hello word"
a

'hello word'